body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
    overflow-x: hidden;
  }

  header {
    /* background-color: #FFDE59; */
    height: 68px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    text-align: left;
    margin-left: 250px;
    color: #FF5757;
  }

  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tweet {
    border-bottom: 1px solid #e1e8ed;
    padding: 10px;
    display: flex;
    background-color:#FFDE59;
    width: 600px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 7px;
    border: none;
  }

  .tweet img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .tweet-content {
    flex: 1;
    background-color: #FFDE59;
    padding: 15px;
    margin: 10px;
    margin-right: 0px;
    width: 68.5%;
    border-radius: 10px;
    box-shadow: inset;

    border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .tweetText{
    white-space: pre-wrap;
    height: max-content;
    padding: 0px;
    margin: 0px;
  }

  .message-info{
    display: flex;
    flex-direction: row;
  }

  .usernametweet{
    font-size: 13px;
  }

  .usernameTag{
    color: #6c6c6c;
    padding-left: 8px;
  }


  footer {
  
    padding: 10px;
    background-color: #FF5757;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 300;
    height: 60px;
  }


.topbar{
background-color: aqua;
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: 0px;
}

.leftcol {
  /* background-color: #FFDE59; */
  width: 250px;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);

}

.centre {
  margin-left: 250px;
  padding-top: 5px;
  z-index: 10;
  /* width: calc(100% - 250px); */
  height: auto;
  background-color: #ffffff;
}

.rightcol {
  /* background-color: #FFDE59; */
  right: 0;
  top: 0;
  position: fixed;
  width: 400px; /* Adjust the width as needed */
  height: 100%;
  background-color: rgb(221, 221, 221);

}

.leftbutton{
  height: 65px;
  /* margin: 10px; */
  font-size: large;
  border: none;
  /* background-color:#FFDE59; */
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.5s;
  color: #FF5757;
  background-color: rgb(221, 221, 221);


}

.leftbutton:hover{
  background-color: #FF5757;
  color: #FFDE59;

}

#searchcolumn{
  z-index: 999999;
  position: fixed;
  left: -400px;
  top: 0px;
  width: 350px;
  height: 100%;
  background-color:#FF5757;
  transition: ease-in 0.1s;
  padding: 10px;
  overflow-y: scroll;
}

.profile-box {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-box:hover{
  cursor: pointer;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-profession {
  font-size: 14px;
  color: #555;
}

.chat{
  width: 700px;
  height: 90%;
  margin-left: 250px;
  font-size: 18px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 8px;
  margin-top: 4px;
  transition: 0.3s;
}

.chat:focus{
  border: 2px;
  box-shadow: inset;
}

.signupform{
  background-color:#FF5757;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: 100px;
  margin-left: 0;
}

.signupText{
  padding: 16px;
  margin: 20px;
  margin-top: 16px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;
  background-color: rgb(221, 221, 221);
  transition: 0.3s;
}

.signupText:hover{
  background-color: white;
  color: #FF5757;
}

#top{
  background-color:#dee7ff;
  padding: 30px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
  background-color: rgb(221, 221, 221);

}

.profilepiclarge{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

#bottom{
  height: max-content;
  padding-bottom: 10px;
}

.messageContent{
  display: flex;
  flex-direction: row;
  background-color: #555;
  height: 100%;
  width: 100%; 
}

.friendSection{
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #FF5757;
}

.chatSection{
  background-color: #e64e2f;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
}

#alldms{
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgb(221, 221, 221);

}

.dm{
  background-color:#FF5757;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 300px;
  height: max-content;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-left: 790px;
  white-space: pre-wrap;
}

.mydm{
  background-color: rgb(167, 167, 167);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 300px;
  height: max-content;
  margin-bottom: 10px;
  margin-left: 10px;
  white-space: pre-wrap;
}

#sendDMBar{
  position: absolute;
  bottom: 15px;
  background-color: #555;
  width: 100%;
  /* padding: 20px; */
  padding: 20px;
  padding-top: -20px;
  margin-top: -40px;
}

#DMtoSend{
  margin: 0px;
  margin-bottom: -23px;
  padding: 4px; 
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.sendButton{
  padding: 10px;
  padding-top: 8px;
  position: fixed;
  margin: 10px;
  margin-top: 6px;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-color: #FFDE59;
  transition: 0.3s;
}

.sendButton:hover{
  cursor: pointer;
  background-color:#dee7ff;
}

.profilePicSmall{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 2px;
  margin-right: 9px;
}

#profilepic{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

#follow{
  background-color:  #FF5757;
  color: white;
  height: 50px;
  width: 120px;
  border: none;
}

.trends{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 430px;
}

.recommProfiles{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
  transition: 1s;
  margin-left: 10px;


  background-color:#FFDE59;
 
  border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommProfiles:hover{
  cursor: pointer;
}


/* .<div id="personalised"></div>
<div id="news"></div>
<div id="media"></div> */


#personalised{
  background-color: rgb(221, 221, 221);
  width: max-content;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}



#media{
  background-color: rgb(221, 221, 221);
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* weather card */
.weathercard {
  width: 300px;
  height: 200px;
  min-height: 200px;
  margin: 20px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.weathercard:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  min-height: 250px;

  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

/* newscard starts */

#news{
  background-color: rgb(221, 221, 221);
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
  justify-content: flex-start;
  }

#secondColumn{
  flex: 2;
  overflow-y: auto;
  
}

.newscard {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: #e1e1e1;
   

}

.newscard:hover{
  cursor: pointer;
}

.newscard-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.newscard-content {
  padding: 16px;
  color: #2b2b2b;
}

.newscard-title {
  margin: 0;
  font-size: 17px;
  color: black;}

.newscard p {
  margin: 8px 0 0;
  color: #ffffff;
}

/* newscard ends */

.scrollNews{
  padding: 20px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffd52f;
  border: none;
  font-size: large;
  transition: all 1s;
  cursor: pointer;
}

.scrollNews :hover{
  background-color: #e4e4e4;

}

/* buttonforAdd */

.add {
  position: absolute;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  top: 90%;
  left: 90%;
  z-index: 99999;
}

.add, .button__icon, .button__text {
  transition: all 0.3s;
}

.add .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.add .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add .svg {
  width: 30px;
  stroke: #fff;
}

.add:hover {
  background: #34974d;
}

.add:hover .button__text {
  color: transparent;
}

.add:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.add:active .button__icon {
  background-color: #2e8644;
}

.add:active {
  border: 1px solid #2e8644;
}

/* buttonForAdd ends*/

#addConfirm{
  position: absolute;
  background-color:  #FF5757;
  display: flex;
  height: 200px;
  width: 300px;
  z-index: 9999;
  padding: 20px;
  left: 40%;
  top: 1000px;
  transition: 0.1s ease-out;
  align-items: center;

  /* display: none; */
}

/* :focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
} */

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #ffd52f;
  background-color: #f3e992;
  z-index: 1;
  color: #000000;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}


/* file upload */

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e8e8e8;
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: #e8e8e8;
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: #e8e8e8;
}

.custum-file-upload input {
  display: none;
}

.mediaCard-content{
  height: 10%;
}

.mediaCard-title{
  height: 10%;
}

.mediaCard-image{
  height: 80%;
  background-size: cover;
  background-position: center;
}

.mediaCard{
  width: 270px;
  height: 340px;
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background-color: #e1e1e1;

}

#contribute{
  margin: 10px;
  padding: 10px;
}

/*------ Settings ------*/
.container1 {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin: 20px;
}

.container1 .play {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container1 .pause {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container1 input:checked ~ .play {
  display: none;
}

.container1 input:checked ~ .pause {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}



