body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
  }

  header {
    background-color: #e64e2f;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
  }

  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tweet {
    border-bottom: 1px solid #e1e8ed;
    padding: 10px;
    display: flex;
    background-color: #e1e8ed;
    width: 600px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 7px;
  }

  .tweet img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .tweet-content {
    flex: 1;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    margin-right: 400px;
    width: 800px;
  }

  .tweetText{
    white-space: pre-wrap;
    height: max-content;
    padding: 2px;
    margin: 0px;
  }

  .message-info{
    display: flex;
    flex-direction: row;
  }

  .usernametweet{
    font-size: 13px;
  }

  .usernameTag{
    color: #6c6c6c;
    padding-left: 8px;
  }


  footer {
  
    padding: 10px;
    background-color: #e64e2f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 300;
    height: 60px;
  }


.topbar{
background-color: aqua;
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: 0px;
}

.leftcol {
  background-color: rgb(196, 255, 207);
  width: 250px;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.centre {
  margin-left: 250px;
  background-color: pink;
  z-index: 10;
  /* width: calc(100% - 250px); */
  height: auto;
}

.rightcol {
  background-color: greenyellow;
  right: 0;
  top: 0;
  position: fixed;
  width: 400px; /* Adjust the width as needed */
  height: 100%;
}

.leftbutton{
  height: 45px;
  margin: 10px;
}

#searchcolumn{
  z-index: 999999;
  position: absolute;
  left: -300px;
  top: 100px;
  width: 300px;
  height: 80%;
  background-color: #01e1ff;
  transition: ease-in 0.1s;
}

.profile-box {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-profession {
  font-size: 14px;
  color: #555;
}

.chat{
  width: 700px;
  height: 100%;
  margin-left: 250px;
}

.signupform{
  background-color: #01e1ff;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
}

.signupText{
  padding: 16px;
  margin: 20px;
}

#top{
  background-color: #01e1ff;
  padding: 30px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
}

.profilepiclarge{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover;
}

#bottom{
  background-color: #555;
  height: max-content;
  padding-bottom: 10px;
}

.messageContent{
  display: flex;
  flex-direction: row;
  background-color: #555;
  height: 100%;
  width: 100%; 
}

.friendSection{
  background-color: #01e1ff;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatSection{
  background-color: #e64e2f;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
}

#alldms{
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.dm{
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 300px;
  height: max-content;
  margin: 10px;
  margin-left: 790px;
  white-space: pre-wrap;
}

.mydm{
  background-color: rgb(0, 255, 42);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 300px;
  height: max-content;
  margin: 10px;
  white-space: pre-wrap;
}

#sendDMBar{
  position: absolute;
  bottom: 0px;
  background-color: #555;
  width: 100%;
  /* padding: 20px; */
  padding: 20px;
  
}

#DMtoSend{
  margin: 0px;
  margin-bottom: -23px;
  padding: 4px; 
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.sendButton{
  padding: 10px;
}

.profilePicSmall{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 2px;
  margin-right: 9px;
}

#profilepic{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

#follow{
  background-color: #e64e2f;
  height: 50px;
  width: 120px;
  border: none;
}

.trends{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 430px;
}

.recommProfiles{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  margin: 5px;
  padding: 10px;
  transition: 1s;
}

.recommProfiles:hover{
  cursor: pointer;
}


/* .<div id="personalised"></div>
<div id="news"></div>
<div id="media"></div> */


#personalised{
  background-color: #01e1ff;
  width: max-content;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}



#media{
background-color: azure;
flex: 1;
overflow-y: scroll;
display: flex;
flex-direction: column;
}

/* weather card */
.weathercard {
  width: 300px;
  height: 200px;
  margin: 20px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.weathercard:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

/* newscard starts */

#news{
  background-color: #555;
  flex: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    justify-content: flex-start;
    height: max-content;
  }

.newscard {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #fff;
}

.newscard-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.newscard-content {
  padding: 16px;
}

.newscard-title {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.newscard p {
  margin: 8px 0 0;
  color: #666;
}
