.songCard{
    width: 290px;
    height: 120px;
    background-color: bisque;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;


    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: #FFDE59;
}


#songPic{
    width: 90px;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    margin-right: 20px;
    border-radius: 8px;

}

#promptResponse{
    color: rgb(0, 0, 0);
    transition: 2s;
    width: 330px;
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    margin-top: 2px;
    height: max-content;

    --duration: 7s;
    --easing: linear;
    --c-color-1: rgba(255, 163, 26, .7);
    --c-color-2: #1a23ff;
    --c-color-3: #e21bda;
    --c-color-4: rgba(255, 232, 26, .7);
    --c-shadow: rgba(255, 223, 87, .5);
    --c-shadow-inset-top: rgba(255, 223, 52, .9);
    --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
    --c-radial-inner: #ffd215;
    --c-radial-outer: #fff172;
    --c-color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    border: none;
    display: table;
   
    /* text-align: center; */
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
    box-shadow: 0 0 14px var(--c-shadow);
    margin-top: 10px;


}

#prompt{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    border: none;
}

#prompt:active{
    border: none;
}


#GoogleSearch{
    width: max-content;
    height: 40px;
    border-radius: 10px;
  background-image: linear-gradient(135deg, #FF5757
  0%, #FF5757
  100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
}


#gamebox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 330px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 10px;


    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-color: #FFDE59;
}

.gameIcons{
    border-radius: 4px;
    height: 50px;
    object-fit: cover;
    margin: 10px;
    margin-bottom: 1px;
    flex: 1;
    
}


#settings{
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color:#FF5757;
    position: fixed;
    z-index: 9999;
    left: -400px;
    top: 400px;
    transition: ease-in 0.1s;
    display: flex;
    flex-direction: column;

}

.accounts{
   
    width: 410px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    background-color:#FF5757 ;
    margin-bottom: 4px;
    border: none;
    font-size: large;
}

.accounts:hover{
    background-color:#FFDE59 ;   
}

.accountName{
    padding: 10px;
}

.friend{
    background-color: #FF5757;
    border:none;
    transition: 1s;
    font-size: large;
    color: azure;
    
}

.friend:hover{
    background-color: #FFDE59
    ;
    color: #000;

}

#chatHeader{
    background-color: #FF5757;

}

.header{
    padding: 10px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    font-size: 24px;
    text-align: left;
    color: #FF5757;
    margin: 0px;
}


#searchBar{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px;
}

#search{
    padding: 10px;
    width: 18%;
    border-radius: 5px;
    border: none;
    background-color: #FFDE59;
}

.searchedProfiles{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    background-color: #ff7676    ;
    margin-bottom: 4px;


}

.searchedProfiles:hover{
    background-color: #ffd215;
    color: #FF5757;
}

.settingsButtons{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 6px;
    background-color: #ff7676    ;
}

.settingsButtons:hover{
    cursor: pointer;

}

#sendDM{
   
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 50px;
    background-color: #FF5757;
    transition: 0.3s;
    background-image: url('images/send_24dp_FILL0_wght300_GRAD0_opsz24.png');
    background-size: 40px;
    background-repeat: no-repeat;
    bottom: 10px;
    transition: 0.3s;
   
}

#sendDM:hover{
    background-color: #FFDE59;
    cursor: pointer;
}

.logo{
    width: 50%; 
    background-color:rgb(255, 255, 255);
    background-image: url(images/roalerLogo.png);
    background-repeat: no-repeat;
    background-size: 90%;
    margin: 100px;   
    margin-right: 0;
}

#loginWithRoaler{
    background-color: #FFDE59;
}

#email{
    background-color: white;
}

#password{
    background-color: white;
}

#submit{
    background-color: #FFDE59;

}